<div class="card">
    <h1 class="m-0">Управление аудиториями</h1>

    <button pButton pRipple label="Добавить" (click)="openFormDialogToAdd()" icon="pi pi-plus"
        class="p-button-success mr-2"></button>


    <p-table [value]="auditories" dataKey="id" [rowHover]="true">

        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="name">Название <p-sortIcon field="name"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-auditory>
            <tr class="table-row">

                <td>{{auditory.name}}</td>

                <td class="table-row__actions">
                    <button (click)="editAuditory(auditory)" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"></button>
                    <button (click)="deleteAuditory(auditory)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Всего {{auditories.length}} аудиторий
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="isFormAuditoryOpen" [style]="{width: '450px'}"
    [header]="isEditing?'Редактирование аудитории':'Добавление аудитории'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="auditoryForm">
            <span class="p-field p-fluid">
                <label
                    [class.form__error-msg]="auditoryForm.controls.auditoryName.invalid && auditoryForm.controls.auditoryName.touched"
                    for="auditoryName">Название аудитории</label>
                <input id="auditoryName" name="auditoryName" formControlName="auditoryName" type="text" pInputText>
                <small *ngIf="auditoryForm.controls.auditoryName.invalid && auditoryForm.controls.auditoryName.touched"
                    id="userGroupControl" class="form__error-msg">Введите название тега</small>
            </span>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text"
            (click)="closeFormDialog()"></button>
        <button [disabled]="auditoryForm.invalid && auditoryForm.touched" type="submit" pButton pRipple
            [label]="isEditing?'Сохранить':'Добавить'" icon="pi pi-check" class="p-button-text"
            (click)="onSubmitAuditory()"></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog header="Удаление данных об аудитории" icon="pi pi-exclamation-triangle"></p-confirmDialog>