<div class="card">
    <h1 class="m-0">Управление студентами</h1>

    <button pButton pRipple label="Добавить" (click)="addUser()" icon="pi pi-plus"
        class="p-button-success mr-2"></button>

    <div *ngIf="(getAllUsersResponce$ | async) === 'pending'; else table" class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <ng-template #table>
        <p-table [value]="users" dataKey="id" [rowHover]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name">Название <p-sortIcon field="name"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr class="table-row">

                    <td>{{user.login}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.group?.name}}</td>
                    <td>{{user.role?.name}}</td>

                    <td class="table-row__actions">
                        <button (click)="editUser(user)" pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"></button>
                        <button (click)="deleteUser(user)" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Всего {{users.length}} пользователей.
                </div>
            </ng-template>
        </p-table>

    </ng-template>

</div>
<p-dialog [(visible)]="isFormDialogOpen" [header]="isEditing? 'Редактирование студента': 'Добавление студента'"
    [modal]="true" styleClass="p-fluid" [closable]="false">
    <ng-template pTemplate="content">
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmitForm()" class="form">
            <span class="p-field p-fluid">
                <label for="userGroupControl"
                    [class.form__error-msg]="form.controls.userGroupControl.invalid && form.controls.userGroupControl.touched">Группа
                    студента</label>
                <p-dropdown [class.ng-invalid]="
                form.controls.userGroupControl.invalid" id="userGroupControl" name="userGroupControl"
                    [options]="groups" formControlName="userGroupControl" optionLabel="name"></p-dropdown>
                <small *ngIf="form.controls.userGroupControl.invalid && form.controls.userGroupControl.touched"
                    id="userGroupControl" class="form__error-msg">Выберите группу</small>
            </span>

            <span class="p-field p-fluid">
                <label for="userRoleControl"
                    [class.form__error-msg]="form.controls.userRoleControl.invalid && form.controls.userRoleControl.touched">Роль
                    пользователя</label>
                <p-dropdown [class.ng-invalid]="
                form.controls.userRoleControl.invalid" id="userRoleControl" name="userRoleControl"
                    [options]="userRoles" formControlName="userRoleControl" optionLabel="name"></p-dropdown>
                <small *ngIf="form.controls.userRoleControl.invalid && form.controls.userRoleControl.touched"
                    id="userRoleControl" class="form__error-msg">Выберите роль</small>
            </span>

            <span class="p-field p-fluid">
                <label for="userLoginControl"
                    [class.form__error-msg]="form.controls.userLoginControl.invalid && form.controls.userLoginControl.touched">Логин
                    студента</label>
                <input [class.ng-invalid]="
                form.controls.userLoginControl.invalid" id="userLoginControl" name="userLoginControl"
                    formControlName="userLoginControl" type="text" pInputText>
                <small *ngIf="form.controls.userLoginControl.invalid && form.controls.userLoginControl.touched"
                    id="userLoginControl" class="form__error-msg">Введите логин</small>
            </span>
            <span class="p-field p-fluid">
                <label for="userNameControl"
                    [class.form__error-msg]="form.controls.userNameControl.invalid && form.controls.userNameControl.touched">Имя
                    студента</label>
                <input [class.ng-invalid]="
                form.controls.userNameControl.invalid" id="userNameControl" name="userNameControl"
                    formControlName="userNameControl" type="text" pInputText>
                <small *ngIf="form.controls.userNameControl.invalid && form.controls.userNameControl.touched"
                    id="userNameControl" class="form__error-msg">Введите имя</small>
            </span>
            <span class="p-field p-fluid">
                <label
                    [class.form__error-msg]="form.controls.userEmailControl.invalid && form.controls.userEmailControl.touched"
                    for="userEmailControl">Почта студента</label>
                <input [class.ng-invalid]="
                form.controls.userEmailControl.invalid" id="userEmailControl" name="userEmailControl"
                    formControlName="userEmailControl" type="text" pInputText>
                <small *ngIf="form.controls.userEmailControl.invalid && form.controls.userEmailControl.touched"
                    id="userEmailControl" class="form__error-msg">Введите почту</small>
            </span>
            <span class="p-field p-fluid">
                <label
                    [class.form__error-msg]="form.controls.userPasswordControl.invalid && form.controls.userPasswordControl.touched"
                    for="userPasswordControl">Пароль студента</label>
                <input [class.ng-invalid]="
                form.controls.userPasswordControl.invalid" id="userPasswordControl" name="userPasswordControl"
                    formControlName="userPasswordControl" type="text" pInputText>
                <small *ngIf="form.controls.userPasswordControl.invalid && form.controls.userPasswordControl.touched"
                    id="userPasswordControl" class="form__error-msg">Введите пароль</small>
            </span>
        </form>

    </ng-template>

    <ng-template pTemplate="footer">
        <button type="submit" pButton pRipple [label]="isEditing? 'Сохранить': 'Добавить'" icon="pi pi-check"
            [disabled]="form.disabled || form.invalid && form.touched" (click)="onSubmitForm()"></button>

        <button type="button" pButton [disabled]="form.disabled" pRipple label="Отмена" icon="pi pi-times"
            class="p-button-text" (click)="closeFormDialog()"></button>

    </ng-template>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog header="Удаление данных о пользователе" icon="pi pi-exclamation-triangle"></p-confirmDialog>