<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Добавить" (click)="addUser()" icon="pi pi-plus"
                class="p-button-success mr-2"></button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="users" dataKey="id" [rowHover]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Управление студентами</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Название <p-sortIcon field="name"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr class="table-row">

                <td>{{user.login}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.group?.name}}</td>
                <td>{{user.role?.name}}</td>

                <td class="table-row__actions">
                    <button (click)="editUser(user)" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"></button>
                    <button (click)="deleteUser(user)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Всего {{users.length}} пользователей.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="isFormDialogOpen" [header]="isEditing? 'Редактирование студента': 'Добавление студента'"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form #form [formGroup]="userForm" novalidate (ngSubmit)="onSubmitUserForm()" class="form">
            <span class="p-field p-fluid">
                <label for="userGroupControl"
                    [class.form__error-msg]="userForm.controls.userGroupControl.invalid && userForm.controls.userGroupControl.touched">Группа
                    студента</label>
                <p-dropdown [class.ng-invalid]="
                userForm.controls.userGroupControl.invalid" id="userGroupControl" name="userGroupControl"
                    [options]="groups" formControlName="userGroupControl" optionLabel="name"></p-dropdown>
                <small *ngIf="userForm.controls.userGroupControl.invalid && userForm.controls.userGroupControl.touched"
                    id="userGroupControl" class="form__error-msg">Выберите группу</small>
            </span>

            <span class="p-field p-fluid">
                <label for="userRoleControl"
                    [class.form__error-msg]="userForm.controls.userRoleControl.invalid && userForm.controls.userRoleControl.touched">Роль
                    пользователя</label>
                <p-dropdown [class.ng-invalid]="
                userForm.controls.userRoleControl.invalid" id="userRoleControl" name="userRoleControl"
                    [options]="userRoles" formControlName="userRoleControl" optionLabel="name"></p-dropdown>
                <small *ngIf="userForm.controls.userRoleControl.invalid && userForm.controls.userRoleControl.touched"
                    id="userRoleControl" class="form__error-msg">Выберите роль</small>
            </span>

            <span class="p-field p-fluid">
                <label for="userLoginControl"
                    [class.form__error-msg]="userForm.controls.userLoginControl.invalid && userForm.controls.userLoginControl.touched">Логин
                    студента</label>
                <input [class.ng-invalid]="
                userForm.controls.userLoginControl.invalid" id="userLoginControl" name="userLoginControl"
                    formControlName="userLoginControl" type="text" pInputText>
                <small *ngIf="userForm.controls.userLoginControl.invalid && userForm.controls.userLoginControl.touched"
                    id="userLoginControl" class="form__error-msg">Введите логин</small>
            </span>
            <span class="p-field p-fluid">
                <label for="userNameControl"
                    [class.form__error-msg]="userForm.controls.userNameControl.invalid && userForm.controls.userNameControl.touched">Имя
                    студента</label>
                <input [class.ng-invalid]="
                userForm.controls.userNameControl.invalid" id="userNameControl" name="userNameControl"
                    formControlName="userNameControl" type="text" pInputText>
                <small *ngIf="userForm.controls.userNameControl.invalid && userForm.controls.userNameControl.touched"
                    id="userNameControl" class="form__error-msg">Введите имя</small>
            </span>
            <span class="p-field p-fluid">
                <label
                    [class.form__error-msg]="userForm.controls.userEmailControl.invalid && userForm.controls.userEmailControl.touched"
                    for="userEmailControl">Почта студента</label>
                <input [class.ng-invalid]="
                userForm.controls.userEmailControl.invalid" id="userEmailControl" name="userEmailControl"
                    formControlName="userEmailControl" type="text" pInputText>
                <small *ngIf="userForm.controls.userEmailControl.invalid && userForm.controls.userEmailControl.touched"
                    id="userEmailControl" class="form__error-msg">Введите почту</small>
            </span>
            <span class="p-field p-fluid">
                <label
                    [class.form__error-msg]="userForm.controls.userPasswordControl.invalid && userForm.controls.userPasswordControl.touched"
                    for="userPasswordControl">Пароль студента</label>
                <input [class.ng-invalid]="
                userForm.controls.userPasswordControl.invalid" id="userPasswordControl" name="userPasswordControl"
                    formControlName="userPasswordControl" type="text" pInputText>
                <small
                    *ngIf="userForm.controls.userPasswordControl.invalid && userForm.controls.userPasswordControl.touched"
                    id="userPasswordControl" class="form__error-msg">Введите пароль</small>
            </span>
        </form>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text"
            (click)="closeFormDialog()"></button>
        <button type="submit" pButton pRipple [label]="isEditing? 'Сохранить': 'Добавить'" icon="pi pi-check"
            class="p-button-text" [disabled]="userForm.invalid && userForm.touched"
            (click)="onSubmitUserForm()"></button>
    </ng-template>
</p-dialog>