.table-row {
  display: flex;
}

.table-row__actions {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-bottom: 40px;
}

.form__error-msg {
  color: #e24c4c;
}
