<div class="card">
    <h1 class="m-0">Управление мероприятиями</h1>

    <button pButton pRipple label="Добавить" (click)="openAddDialog()" icon="pi pi-plus"
        class="p-button-success mr-2"></button>

    <div *ngIf="(getAllEventsResponce$ | async) === 'pending'; else table" class="spinner-container">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <ng-template #table>
        <p-table [value]="events" dataKey="id" [rowHover]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Название</th>
                    <th pSortableColumn="name">Описание</th>
                    <th pSortableColumn="name">Создатель</th>
                    <th pSortableColumn="name">Кол-во мест</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-event>
                <tr class="table-row">
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.owner?.name }}</td>
                    <td>{{ event.places }}</td>
                    <td>
                        <img *ngFor="let img of event.images" [src]="img" alt="Image" class="uploaded__image" />
                    </td>
                    <td>
                        <p-tag *ngFor="let tag of event.tags" [value]="tag.name"></p-tag>
                    </td>
                    <td>
                        <p-tag *ngFor="let group of event.groups" [value]="group.name"></p-tag>
                    </td>

                    <td class="table-row__actions">
                        <button (click)="editEvent(event)" pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"></button>
                        <button (click)="deleteEvent(event)" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Всего {{ events.length }} мероприятий.
                </div>
            </ng-template>
        </p-table>

    </ng-template>
</div>

<p-dialog [header]="isEditing ? 'Редактирование мероприятия' : 'Добавление мероприятия'" [(visible)]="formDialog"
    [style]="{width: '450px'}" [modal]="true" styleClass="p-fluid" [closable]="false">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmitForm()" class="form">
        <span class="p-field p-fluid">
            <label [class.form__error-msg]="
          form.controls.eventTitle.invalid &&
          form.controls.eventTitle.touched
        " for="eventTitle">Название мероприятия</label>
            <input [class.ng-invalid]="form.controls.eventTitle.invalid" id="eventTitle" name="eventTitle"
                formControlName="eventTitle" type="text" pInputText />
            <small *ngIf="
          form.controls.eventTitle.invalid &&
          form.controls.eventTitle.touched
        " id="userGroupControl" class="form__error-msg">Введите название мероприятия</small>
        </span>

        <span class="p-field p-fluid">
            <label [class.form__error-msg]="
          form.controls.eventDescription.invalid &&
          form.controls.eventDescription.touched
        " for="float-textarea">Описание мероприятия</label>
            <textarea [class.ng-invalid]="form.controls.eventDescription.invalid" id="float-textarea"
                name="eventDescription" formControlName="eventDescription" pInputTextarea></textarea>
            <small *ngIf="
          form.controls.eventDescription.invalid &&
          form.controls.eventDescription.touched
        " id="userGroupControl" class="form__error-msg">Введите описание мероприятия</small>
        </span>

        <span class="p-field p-fluid number-field">
            <label [class.form__error-msg]="
          form.controls.eventPlaces.invalid &&
          form.controls.eventPlaces.touched
        " for="float-places">Кол-во мест</label>
            <p-inputNumber [class.ng-invalid]="form.controls.eventPlaces.invalid" formControlName="eventPlaces"
                name="eventPlaces" id="float-places" [min]="0" [max]="100" [showButtons]="true"
                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
            </p-inputNumber>

            <small *ngIf="
          form.controls.eventPlaces.invalid &&
          form.controls.eventPlaces.touched
        " id="userGroupControl" class="form__error-msg">Введите количество мест</small>
        </span>
        <span class="p-field p-fluid">
            <label [class.form__error-msg]="
          form.controls.eventOwner.invalid &&
          form.controls.eventOwner.touched
        " for="float-places">Выберите организатора мероприятия</label>
            <p-dropdown [options]="allUsers" [class.ng-invalid]="form.controls.eventOwner.invalid" optionLabel="name"
                formControlName="eventOwner"></p-dropdown>
        </span>

        <span class="p-field p-fluid">
            <label [class.form__error-msg]="
          form.controls.eventGroups.invalid &&
          form.controls.eventGroups.touched
        " for="float-groups">Выберите учебные группы, для которых проводиться мероприятие</label>
            <p-multiSelect [class.ng-invalid]="form.controls.eventGroups.invalid" name="eventGroups"
                formControlName="eventGroups" [options]="allGroups" optionLabel="name" display="chip">
            </p-multiSelect>

            <small *ngIf="
          form.controls.eventGroups.invalid &&
          form.controls.eventGroups.touched
        " id="userGroupControl" class="form__error-msg">Выберите группы</small>
        </span>

        <span class="p-field p-fluid">
            <label [class.form__error-msg]="
          form.controls.eventTags.invalid &&
          form.controls.eventTags.touched
        " for="float-groups">Укажите теги</label>
            <p-multiSelect [class.ng-invalid]="form.controls.eventTags.invalid" name="eventTags"
                formControlName="eventTags" [options]="allEventTags" optionLabel="name" display="chip">
            </p-multiSelect>

            <small *ngIf="
          form.controls.eventTags.invalid &&
          form.controls.eventTags.touched
        " id="userGroupControl" class="form__error-msg">Выберите теги</small>
        </span>
        <div *ngIf="previewImagesUrls" class="uploaded__images">
            <img *ngFor="let img of previewImagesUrls" [src]="img" alt="Image" class="uploaded__image" />
        </div>

        <div class="file-upload">
            <input type="file" class="file-input" multiple hidden (change)="handleFileChange($event)" #fileUpload />
            <p-button type="button" label="Загрузить изображения" (click)="fileUpload.click()"></p-button>
        </div>

        <span class="p-field p-fluid">
            <label for="float-groups">Укажите время с какое по какое будет проходить мероприятие</label>
            <p-calendar selectionMode="multiple" name="eventDateRange" [formControl]="eventRange">
            </p-calendar>
        </span>

        <div *ngIf="form.controls.eventDays.controls.length > 0" formArrayName="eventDays">
            <ng-container *ngFor="
          let dayGroup of form.controls.eventDays.controls;
          let i = index
        ">
                <div class="form-field" [formGroup]="dayGroup">
                    <span>Укажите время начала {{ dayGroup.value.date | date }}</span>
                    <p-calendar [timeOnly]="true" formControlName="date"></p-calendar>
                    <span>Выберите аудитории</span>
                    <p-dropdown [options]="allAuditories" optionLabel="name" formControlName="auditory">
                    </p-dropdown>
                </div>
            </ng-container>
        </div>

        <span class="p-field p-fluid">
            <label [class.form__error-msg]="
          form.controls.eventPeopleWillCome.invalid &&
          form.controls.eventPeopleWillCome.touched
        " for="float-groups">Выберите участников</label>
            <p-multiSelect [class.ng-invalid]="form.controls.eventPeopleWillCome.invalid" name="eventPeopleWillCome"
                formControlName="eventPeopleWillCome" [options]="allUsers" optionLabel="name" display="chip">
            </p-multiSelect>

            <small *ngIf="
          form.controls.eventPeopleWillCome.invalid &&
          form.controls.eventPeopleWillCome.touched
        " id="userGroupControl" class="form__error-msg">Выберите участников</small>
        </span>

        <span class="p-field p-fluid">
            <label [class.form__error-msg]="
          form.controls.eventPeopleCame.invalid &&
          form.controls.eventPeopleCame.touched
        " for="float-groups">Выберите участников, которые пришли</label>
            <p-multiSelect [class.ng-invalid]="form.controls.eventPeopleCame.invalid" name="eventPeopleCame"
                formControlName="eventPeopleCame" [options]="allUsers" optionLabel="name" display="chip">
            </p-multiSelect>

            <small *ngIf="
          form.controls.eventPeopleCame.invalid &&
          form.controls.eventPeopleCame.touched
        " id="userGroupControl" class="form__error-msg">Выберите участников</small>
        </span>

        <footer class="footer">

            <button type="submit" [disabled]="form.disabled" pButton pRipple
                [label]="isEditing ? 'Сохранить' : 'Добавить'"></button>

            <button type="button" [disabled]="form.disabled" pButton pRipple label="Отмена" icon="pi pi-times"
                class="p-button-text" (click)="closeDialog()"></button>
        </footer>

    </form>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog header="Удаление данных о мероприятии" icon="pi pi-exclamation-triangle"></p-confirmDialog>