<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Добавть" (click)="openAddDialog()" icon="pi pi-plus"
                class="p-button-success mr-2"></button>
        </ng-template>

    </p-toolbar>

    <p-table [value]="events" dataKey="id" [rowHover]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Управление мероприятиями</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Название <p-sortIcon field="name"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr class="table-row">

                <td>{{event.name}}</td>

                <td class="table-row__actions">
                    <button (click)="editEvent(event)" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"></button>
                    <button (click)="deleteEvent(event)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Всего {{events.length}} мероприятий.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="formDialog" [style]="{width: '450px'}"
    [header]="isEditing? 'Редактирование мероприятия': 'Добавление мероприятия'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="form">

            <span class="p-float-label">
                <input id="float-input" name="eventName" [formControl]="eventTitle" type="text" pInputText>
                <label for="float-input">Название мероприятия</label>
            </span>

            <span class="p-float-label">
                <textarea id="float-textarea" name="eventDescription" [formControl]="eventDescription"
                    pInputTextarea></textarea>
                <label for="float-textarea">Описание мероприятия</label>
            </span>

            <span class="p-float-label">
                <p-inputNumber [formControl]="eventPlaces" name="eventPlaces" id="float-places" [min]="0" [max]="100"
                    [showButtons]="true" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                </p-inputNumber>
                <label for="float-places">Кол-во мест</label>
            </span>

            <p-dropdown [options]="allUsers" optionLabel="name" [formControl]="eventOwner"></p-dropdown>

            <span class="p-float-label">
                <p-multiSelect name="eventGroups" [formControl]="eventGroups" [options]="allGroups" optionLabel="name"
                    display="chip">
                </p-multiSelect>
                <label for="float-groups">Выберите группы</label>
            </span>

            <span class="p-float-label">
                <p-multiSelect name="eventTags" [formControl]="eventTags" [options]="allEventTags" optionLabel="name"
                    display="chip">
                </p-multiSelect>
                <label for="float-groups">Укажите теги</label>
            </span>
            <div *ngIf="previewImagesUrls">
                <img *ngFor="let img of previewImagesUrls" [src]="img">
            </div>
            <input type="file" class="file-input" multiple hidden (change)="handleFileChange($event)" #fileUpload>

            <div class="file-upload">

                <p-button type="submit" label="Загрузить изображения" (click)="fileUpload.click()"></p-button>

            </div>

            <p-calendar selectionMode="range" name="eventDateRange" [formControl]="eventRange"
                (ngModelChange)="onDateRange()">
            </p-calendar>

            <div *ngIf="eventDays.length > 0">
                <div class="form-field" *ngFor="let day of eventDays; let i = index">
                    <span>Укажите время в {{day[0]}}</span>
                    <span>С</span>
                    <p-calendar [timeOnly]="true" [formControl]="day[2]"></p-calendar>
                    <span>Выберите аудитории</span>
                    <p-dropdown [options]="allAuditories" optionLabel="name" [formControl]="day[1]"></p-dropdown>
                </div>
            </div>
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text"
            (click)="closeDialog()"></button>
        <button type="submit" pButton pRipple [label]="isEditing? 'Сохранить': 'Добавить'" icon="pi pi-check"
            class="p-button-text" (click)="onSubmitForm()"></button>
    </ng-template>
</p-dialog>