.chart-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.chart {
  min-width: 500px;
}

.chart-wrapper__content {
  display: flex;
  justify-content: space-between;
}

.table__header {
  font-weight: 700;
}

.cell-number {
  text-align: right;
}

td {
  border: 1px solid black;
  margin: 0;
}
