<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Добавть" (click)="openAddDialog()" icon="pi pi-plus"
                class="p-button-success mr-2"></button>
        </ng-template>

        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>

    <p-table [value]="groups" dataKey="id" [rowHover]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Управление группами</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Название <p-sortIcon field="name"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
            <tr class="table-row">

                <td>{{group.name}}</td>

                <td class="table-row__actions">
                    <button (click)="editGroup(group)" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"></button>
                    <button (click)="deleteGroup(group)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Всего {{groups.length}} групп
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="isformGroupDialogOpen" [style]="{width: '450px'}"
    [header]="isEditing? 'Редактирование группы': 'Добавление группы'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="groupForm" novalidate (ngSubmit)="onSubmitForm()">
            <span class="p-field p-fluid">
                <label
                    [class.form__error-msg]="groupForm.controls.groupName.invalid && groupForm.controls.groupName.touched"
                    for="groupName">Название группы</label>
                <input [class.ng-invalid]="
                groupForm.controls.groupName.invalid" id="userEmailControl" id="groupName" name="groupName"
                    formControlName="groupName" type="text" pInputText>
                <small *ngIf="groupForm.controls.groupName.invalid && groupForm.controls.groupName.touched"
                    id="userGroupControl" class="form__error-msg">Выберите группу</small>
            </span>

        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text"
            (click)="closeFormDialog()"></button>
        <button type="submit" [disabled]="groupForm.invalid && groupForm.touched" pButton pRipple label="Сохранить"
            icon="pi pi-check" class="p-button-text" (click)="onSubmitForm()"></button>
    </ng-template>
</p-dialog>