.table-row {
  display: flex;
}

.table-row__actions {
  display: flex;
}
.form__error-msg {
  color: #e24c4c;
}
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
