<header class="header">
    <a [routerLink]="'/'" class="header__title">
        <h1>Автоматизированная система для проведения мероприятий</h1>
    </a>
    <div class="user" (click)="onUserClick()">

        <button pButton type="button" [label]="authedUser!.name" class="p-button-text"
            *ngIf="isLogged; else login"></button>
        <ng-template #login>
            <p-button label="Войти или зарегестрироваться"></p-button>
        </ng-template>
    </div>
</header>
<p-sidebar [(visible)]="display" position="right">
    <div *ngIf="isLogged; else loginForm" class="menu">
        <div class="menu__title">
            <!-- {{authedUser!.name}} -->
            Администратор
        </div>
        <a [routerLink]="'/events'" pButton type="button" label="Мероприятия" class="p-button-text menu__item">
        </a>
        <a [routerLink]="'/event-reviews'" pButton type="button" label="Отзывы" class="p-button-text menu__item">
        </a>
        <a [routerLink]="'/event-tags'" pButton type="button" label="Теги мероприятий" class="p-button-text menu__item">
        </a>
        <a [routerLink]="'/auditories'" pButton type="button" label="Аудитории" class="p-button-text menu__item">
        </a>
        <a [routerLink]="'/groups'" pButton type="button" label="Группы" class="p-button-text menu__item">
        </a>
        <a [routerLink]="'/users'" pButton type="button" label="Пользователи" class="p-button-text menu__item">
        </a>
        <button pButton type="button" label="Выйти" (onClick)="unauthorize()" class="menu__item"></button>
    </div>
    <ng-template #loginForm>
        <h1 class="login-form__title">Войдите в личный кабинет или зарегестрируйтесь</h1>
        <p-tabView>
            <p-tabPanel header="Вход">
                <form (ngSubmit)="onSubmitSignIn()" class="form">
                    <span class="p-float-label">
                        <input id="signInLogin" name="signInLogin" [formControl]="signInLogin" type="text" pInputText>
                        <label for="signInLogin">Логин</label>
                    </span>
                    <span class="p-float-label">
                        <input id="signInPassword" name="signInPassword" [formControl]="signInPassword" type="password"
                            pInputText />
                        <label for="signInPassword">Пароль</label>
                    </span>
                    <p-button type="submit" label="Войти"></p-button>

                </form>
            </p-tabPanel>
            <p-tabPanel header="Регистрация">
                <form (ngSubmit)="onSubmitSignUp()" class="form">
                    <span class="p-float-label">
                        <input id="signUpLogin" name="signUpLogin" [formControl]="signUpLogin" type="text" pInputText>
                        <label for="signUpLogin">Логин</label>
                    </span>
                    <span class="p-float-label">
                        <input id="signUpName" name="signUpName" [formControl]="signUpName" type="text" pInputText>
                        <label for="signUpName">Имя</label>
                    </span>
                    <span class="p-float-label">
                        <input id="signUpEmail" name="signUpEmail" [formControl]="signUpEmail" type="text" pInputText>
                        <label for="signUpEmail">эл. почта</label>
                    </span>
                    <span class="p-float-label">
                        <p-password id="signUpPassword" name="signUpPassword" [formControl]="signUpPassword">
                        </p-password>
                        <label for="signUpPassword">Пароль</label>
                    </span>
                    <p-button type="submit" label="Зарегестрироваться"></p-button>

                </form>
            </p-tabPanel>
        </p-tabView>
    </ng-template>

</p-sidebar>
<router-outlet></router-outlet>