<div class="main">
    <div class="main__content">
        <header class="header">
            <a [routerLink]="'/'" class="header__title">
                <h1>Автоматизированная система по организации мероприятий профкомом ИРНИТУ</h1>
            </a>
            <h3 *ngIf="isLogged ; else login"> {{authedUser!.name}}</h3>
            <ng-template #login>
                <p-button label="Войти или зарегестрироваться" (onClick)="openAuth()" p-tooltip="Заполните все поля">
                </p-button>
            </ng-template>
        </header>
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="isLogged" class="sidebar menu">

        <div *ngIf="authedUser?.role?.name === 'Администратор'; else studentMenu" class="menu__list">
            <div class="menu__title">
                {{authedUser?.role?.name}}
            </div>
            <a [routerLink]="'/personal-cabinet'" pButton type="button" label="Личный кабинет"
                class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/events'" pButton type="button" label="Мероприятия"
                class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/event-reviews'" pButton type="button" label="Отзывы"
                class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/event-tags'" pButton type="button" label="Теги мероприятий"
                class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/auditories'" pButton type="button" label="Аудитории"
                class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/groups'" pButton type="button" label="Группы"
                class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/users'" pButton type="button" label="Пользователи"
                class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/user-roles'" pButton type="button" label="Роли пользователей"
                class="p-button-outlined  p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
            <a [routerLink]="'/reports'" pButton type="button" label="Отчеты"
                class="p-button-outlined  p-button-secondary menu__item" routerLinkActive="p-button-info">
            </a>
        </div>
        <ng-template #studentMenu>
            <div class="menu__list">
                <div class="menu__title">
                    {{authedUser?.role?.name || 'Студент'}}

                </div>
                <a [routerLink]="'/personal-cabinet'" pButton type="button" label="Личный кабинет"
                    class="p-button-outlined p-button-secondary menu__item" routerLinkActive="p-button-info">
                </a>

            </div>

        </ng-template>

        <button pButton type="button" label="Выйти" (click)="unauthorize()"
            class="p-button-secondary menu__item"></button>


    </div>
</div>

<p-dialog [header]="'Авторизация'" [(visible)]="authForm" [style]="{width: '450px'}" [modal]="true"
    styleClass="p-fluid">
    <h1 class="login-form__title">Войдите в личный кабинет или зарегестрируйтесь</h1>
    <p-tabView>
        <p-tabPanel header="Вход">
            <form [formGroup]="signInForm" novalidate (ngSubmit)="onSubmitSignIn()" class="form">
                <span class="p-field p-fluid">
                    <label for="signInLogin"
                        [class.form__error-msg]="signInForm.controls.signInLogin.invalid && signInForm.controls.signInLogin.touched">Логин</label>
                    <input id="signInLogin" [class.ng-dirty]="signInForm.controls.signInLogin.touched"
                        [class.ng-invalid]="
                    signInForm.controls.signInLogin.invalid" name="signInLogin" formControlName="signInLogin"
                        type="text" pInputText>
                    <small *ngIf="signInForm.controls.signInLogin.invalid && signInForm.controls.signInLogin.touched"
                        id="signInLogin" class="form__error-msg">Введите логин</small>
                </span>
                <span class="p-field p-fluid">
                    <label for="signInPassword"
                        [class.form__error-msg]="signInForm.controls.signInPassword.invalid && signInForm.controls.signInPassword.touched">Пароль</label>
                    <input p-tooltip="Заполните все поля" tooltipEvent="focus" id="signInPassword"
                        [class.ng-dirty]="signInForm.controls.signInPassword.touched" [class.ng-invalid]="
                    signInForm.controls.signInPassword.invalid" name="signInPassword" formControlName="signInPassword"
                        type="password" pInputText />
                    <small
                        *ngIf="signInForm.controls.signInPassword.invalid && signInForm.controls.signInPassword.touched"
                        id="signInLogin" class="form__error-msg">Введите пароль</small>
                </span>
                <p-button type="submit" label="Войти" p-tooltip="Заполните все поля" tooltipEvent="hover"
                    [disabled]="signInForm.disabled || signInForm.invalid && signInForm.touched">
                </p-button>
                <small *ngIf="loginStatus ==='error'" id="signInLogin" class="form__error-msg">Неправильный логин
                    или пароль</small>
            </form>
        </p-tabPanel>
        <p-tabPanel header="Регистрация">
            <form [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmitSignUp()" class="form">
                <span class="p-field p-fluid">
                    <label for="group"
                        [class.form__error-msg]="signUpForm.controls.group.invalid && signUpForm.controls.group.touched">Группа
                        студента</label>
                    <p-dropdown id="group" name="group" [options]="groups" formControlName="group" optionLabel="name"
                        [class.ng-dirty]="signUpForm.controls.group.touched" [class.ng-invalid]="
                    signUpForm.controls.group.invalid"></p-dropdown>
                    <small *ngIf="signUpForm.controls.group.invalid && signUpForm.controls.group.touched"
                        id="signInLogin" class="form__error-msg">Выбирите группу</small>
                </span>
                <span class="p-field p-fluid">
                    <label for="login"
                        [class.form__error-msg]="signUpForm.controls.login.invalid && signUpForm.controls.login.touched">Логин</label>
                    <input id="login" name="login" formControlName="login" type="text" pInputText
                        [class.ng-dirty]="signUpForm.controls.login.touched" [class.ng-invalid]="
                    signUpForm.controls.login.invalid">
                    <small *ngIf="signUpForm.controls.login.invalid && signUpForm.controls.login.touched"
                        id="signInLogin" class="form__error-msg">Введите логин</small>
                </span>
                <span class="p-field p-fluid">
                    <label for="name"
                        [class.form__error-msg]="signUpForm.controls.name.invalid && signUpForm.controls.name.touched">Имя</label>
                    <input id="name" name="name" formControlName="name" type="text" pInputText
                        [class.ng-dirty]="signUpForm.controls.name.touched" [class.ng-invalid]="
                    signUpForm.controls.name.invalid">
                    <small *ngIf="signUpForm.controls.name.invalid && signUpForm.controls.name.touched" id="signInLogin"
                        class="form__error-msg">Введите имя</small>
                </span>
                <span class="p-field p-fluid">
                    <label for="email"
                        [class.form__error-msg]="signUpForm.controls.email.invalid && signUpForm.controls.email.touched">эл.
                        почта</label>
                    <input id="email" name="email" formControlName="email" type="text" pInputText
                        [class.ng-dirty]="signUpForm.controls.email.touched" [class.ng-invalid]="
                    signUpForm.controls.email.invalid">
                    <small *ngIf="signUpForm.controls.email.invalid && signUpForm.controls.email.touched"
                        id="signInLogin" class="form__error-msg">Введите электронную почту</small>
                </span>
                <span class="p-field p-fluid">
                    <label
                        [class.form__error-msg]="signUpForm.controls.password.invalid && signUpForm.controls.password.touched"
                        for="password">Пароль</label>
                    <p-password id="password" [class.ng-dirty]="signUpForm.controls.password.touched"
                        [class.ng-invalid]="
                        signUpForm.controls.password.invalid" name=" password" formControlName="password">
                    </p-password>
                    <small *ngIf="signUpForm.controls.password.invalid && signUpForm.controls.password.touched"
                        id="signInLogin" class="form__error-msg">Введите пароль</small>
                </span>
                <p-button type="submit" label="Зарегестрироваться"
                    [disabled]="signUpForm.disabled ||signUpForm.invalid && signUpForm.touched"></p-button>

            </form>
        </p-tabPanel>
    </p-tabView>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog header="Выход из аккаунта" icon="pi pi-exclamation-triangle"></p-confirmDialog>