.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header__title {
  text-decoration: none;
  color: var(--gray);
  font-size: 14px;
}

.user {
  cursor: pointer;
}

.login-form__title {
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__title {
  color: var(--gray);
  font-size: 24px;
  text-align: center;
}

.menu__item {
  display: block;
  text-decoration: none;
}
.form__error-msg {
  color: #e24c4c;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
