<div class="event">
    <div class="event__preview-img-container">
        <img alt="Card" [src]="event.images[0]" class="event__preview-img">
    </div>
    <div class="event__content">
        <header>
            <a [routerLink]="['/events', event.id]" label="Аудитории" class="p-button-text menu__item">
                <h1 class="text_ellipsis">
                    {{event.title}}
                </h1>
            </a>
            <p class="event__owner text_ellipsis">
                {{event.owner.name}}

            </p>
            <p>
                {{event.peopleWillCome.length}} / {{event.places}}
            </p>
            <p *ngIf="isEventEnded">
                {{event.peopleCame.length}} / {{event.places}}
            </p>
        </header>
        <main>
            <div>
                <p-tag *ngFor="let tag of event.tags" [value]="tag.name"></p-tag>

                <p-tag *ngFor="let group of event.groups" [value]="group.name"></p-tag>
            </div>
            <div class="dates">
                <div *ngFor="let dateEvent of getDates(event)">
                    {{ dateEvent | date}}
                </div>

            </div>
            <p class="event__description">{{event.description}}</p>
        </main>
        <footer>
            <p-button *ngIf="!isEventEnded" (onClick)="handleButtonEventItemClick(event)"
                [disabled]="buttonItemDisabled" [label]="buttonItemLabel" icon="pi pi-check">
            </p-button>

        </footer>
    </div>
</div>