<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Добавть" (click)="openAddDialog()" icon="pi pi-plus"
                class="p-button-success mr-2"></button>
        </ng-template>

        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>

    <p-table [value]="eventTags" dataKey="id" [rowHover]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Управление тегами мероприятий</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Название <p-sortIcon field="name"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eventTag>
            <tr class="table-row">
                <td>{{eventTag.name}}</td>
                <td class="table-row__actions">
                    <button (click)="editEventTag(eventTag)" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"></button>
                    <button (click)="deleteGroup(eventTag)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are 0 auditory.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="addDialog" [style]="{width: '450px'}" header="Добавить тег" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <span class="p-float-label">
            <input id="eventTagNameAdd" name="eventTagNameAdd" [formControl]="eventTagNameAdd" type="text" pInputText>
            <label for="eventTagNameAdd">Название тега</label>
        </span>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text"
            (click)="closeAddDialog()"></button>
        <button type="submit" pButton pRipple label="Добавить" icon="pi pi-check" class="p-button-text"
            (click)="onSubmitAuditory()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isEditDialogShown" [style]="{width: '450px'}" header="Редактирование тега" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <span class="p-float-label">
            <input id="auditoryName" name="auditoryName" [formControl]="eventTagNameEdit" type="text" pInputText>
            <label for="auditoryName">Название тега</label>
        </span>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text"
            (click)="closeEditDialog()"></button>
        <button type="submit" pButton pRipple label="Сохранить" icon="pi pi-check" class="p-button-text"
            (click)="onSubmitEditAuditory()"></button>
    </ng-template>
</p-dialog>