<div class="events">

    <div *ngFor="let event of events" class="event">
        <div class="event__preview-img-container">
            <img alt="Card" [src]="event.images[0]" class="event__preview-img">
        </div>
        <div class="event__content">
            <header>
                <h1 class="text_ellipsis">
                    {{event.title}}
                </h1>
                <p class="event__owner text_ellipsis">
                    {{event.owner.name}}

                    {{event.peopleWillCome.length}} / {{event.places}}
                </p>
            </header>
            <main>
                <div>
                    <p-tag *ngFor="let tag of event.tags" [value]="tag.name"></p-tag>
                </div>
                <div>
                    <p-tag *ngFor="let group of event.groups" [value]="group.name"></p-tag>
                </div>
                <p class="event__description">{{event.description}}</p>
            </main>
            <footer>
                <p-button [disabled]="isButtonEventItemDisalbed(event)" (onClick)="handleButtonEventItemClick(event)"
                    [label]="isAuthedUserGoingToEvent(event)? 'Отказаться': 'Записаться'" icon="pi pi-check"></p-button>

            </footer>
        </div>
    </div>
</div>