<header>
    <h1>Все мероприятия</h1>
</header>
<div class="events">
    <event-item *ngFor="let event of events" [event]="event"
        [buttonGoingItemDisabled]="isButtonGoingEventItemDisalbed(event)"
        [buttonNotGoingItemDisabled]="isButtonNotGoingEventItemDisalbed(event)" [buttonGoingItemLabel]="'Записаться'"
        [buttonNotGoingItemLabel]="'Отказаться'"
        (buttonGoingToEventClickEvent)="handleButtonGoingEventItemClick($event)"
        (buttonNotGoingToEventClickEvent)="handleButtonNotGoingEventItemClick($event)" class="event"
        (buttonRemoveConfirmPresentClickEvent)="handleRemoveConfirmPresent($event, event)"
        (buttonConfirmPresentClickEvent)="handleConfirmPresent($event, event)"></event-item>
</div>