<form (ngSubmit)="onSubmit()">
    <h1>Создание мероприятия</h1>
    <h2>Введите название мероприятия</h2>
    <span class="p-float-label">
        <input id="float-input" name="eventName" [formControl]="eventName" type="text" pInputText>
        <label for="float-input">Название мероприятия</label>
    </span>

    <h2>Введите описание мероприятия</h2>
    <span class="p-float-label">
        <textarea id="float-textarea" name="eventDescription" [formControl]="eventDescription"
            pInputTextarea></textarea>
        <label for="float-textarea">Описание мероприятия</label>
    </span>

    <h2>Введите количество мест на мероприятии</h2>
    <span class="p-float-label">
        <p-inputNumber [formControl]="eventPlaces" name="eventPlaces" id="float-places" [min]="0" [max]="100"
            [showButtons]="true" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
        </p-inputNumber>
        <label for="float-places">Кол-во мест</label>
    </span>

    <h2>Выберите для каких групп это мероприятие</h2>
    <span class="p-float-label">
        <p-multiSelect [options]="cities" name="eventGroups" [formControl]="eventGroups" optionLabel="Выберите группы"
            display="chip">
        </p-multiSelect>
        <label for="float-groups">Выберите группы</label>
    </span>

    <h2>Укажите теги мероприятия</h2>
    <span class="p-float-label">
        <p-multiSelect [options]="cities" name="eventTags" [formControl]="eventTags" optionLabel="Укажите теги"
            display="chip">
        </p-multiSelect>
        <label for="float-groups">Укажите теги</label>
    </span>
    <div *ngIf="previewImagesUrls">
        <img *ngFor="let img of previewImagesUrls" [src]="img">
    </div>
    <h2>Загрузите изображения мероприятия</h2>
    <input type="file" class="file-input" multiple hidden (change)="handleFileChange($event)" #fileUpload>

    <div class="file-upload">

        <p-button type="submit" label="Загрузить изображения" (click)="fileUpload.click()"></p-button>

    </div>


    <h2>Укажите с какого по какое число будет проходить мероприятие</h2>
    <p-calendar selectionMode="range" name="eventDateRange" [formControl]="eventRange" (ngModelChange)="onDateRange()">
    </p-calendar>

    <div *ngIf="days.length > 0">
        <h2>Укажите время в конкретные даты</h2>

        <div class="form-field" *ngFor="let day of days; let i = index">
            <span>Укажите время в {{getDayFromStart(i)}}</span>
            <span>С</span>
            <p-calendar [timeOnly]="true"></p-calendar>
            <span>Выберите аудитории</span>
            <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>
        </div>

    </div>
    <p-button type="submit" label="Создать"></p-button>
</form>