<div *ngIf="event" class="event">
    <h1> {{ event.title }}</h1>
    <div>
        <p> {{ event.description }}</p>
    </div>

    <div>
        <p-accordion [multiple]="true">
            <p-accordionTab [header]="'Участники: '+ event.peopleWillCome.length + ' из ' +event.places">
                <div *ngFor="let user of event.peopleWillCome">
                    {{ user.name }}
                    <p-button *ngIf="true" [disabled]="isUserCameToEvent(user)" (onClick)="handleConfirmPresent(user)"
                        label="Отметить присутствие">
                    </p-button>
                </div>
            </p-accordionTab>
            <p-accordionTab *ngIf="isEventEnded" [header]="'Отмечены: '+ event.peopleCame.length + ' из '
                +event.places">
                <div *ngFor="let user of event.peopleCame">
                    {{ user.name }}
                    <p-button *ngIf="true" (onClick)="removeConfirmPresent(user)" label="Отменить присутствие">
                    </p-button>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>

    <h1>Даты проведения</h1>
    <div *ngFor="let day of event.days">
        {{ day.date | date}}
        В аудитории {{ day.auditory.name }}
    </div>


    <div>
        <h1>Теги</h1>
        <p-tag *ngFor="let tag of event.tags" [value]="tag.name"></p-tag>
    </div>
    <div>
        <h1>Группы</h1>
        <p-tag *ngFor="let group of event.groups" [value]="group.name"></p-tag>
    </div>

    <h1>Изображения</h1>
    <div class="images">
        <img *ngFor="let img of event.images" [src]="img" class="image">

    </div>

    <p-button *ngIf="!isEventEnded"
        [pTooltip]="isButtonEventItemDisalbed()? 'Войдите, чтобы записаться на участие' : ''"
        [disabled]="isButtonEventItemDisalbed()" (onClick)="handleButtonClick()"
        [label]="isAuthedUserGoingToEvent(event)? 'Отказаться': 'Записаться'">
    </p-button>
</div>